body, html {
	padding: 0;
	margin: 0;
    font-family: "Roboto", sans-serif; 
    background-color: #77bcc3;
}

#addTimer{
    display: flex;
    align-content: center;
    justify-content: center;
}

input[type=number]{
    width: 180px;
}

#minMax {
    display: flex;
    align-content: center;
    justify-content: center;
}

#arrow{
    font-size: 40px;
    margin: 0;
}

#minMax > div {
    max-width: 50%;
}

.shotterudTitle{
    font-size: 94px;
    text-shadow: 3px 3px 1px yellow, 3px -3px 1px magenta, -3px 3px 1px cyan;
    z-index: 1;
}

input {
    font-size: 40px;
}

button {
    font-size: 48px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 80%;
}
li, .winners > div {
    float: left;
    min-width: 10%;
    list-style: none;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 55px;
}

.winners{
    position: absolute;
    left: 10%;
    right: 10%;
    overflow: hidden;
    width: 80%;
}

.playerName:hover{
    cursor: pointer;
    filter: drop-shadow(16px 16px 20px red) invert(75%);
}

.rouletteContainer{
    position: absolute;
    left: 15%;
    right: 15%;
    height: 400px;
    max-width: 1500px;
    overflow-x: hidden;
}

.roulette {
    top: 10px;
    position: absolute;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    left:0;
}

.roulette:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px dotted #ff0000;
    transform: translate(-50%);
}

.roulette > div{
    width: 140px; 
    min-width: 140px;
    float: left;
}

.roulette > div > h3 {
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin: 0;
    font-size: 30px;
}

.line{
    width: 5px;
    position: absolute;
    background-color: black;
    height: 100px;
    left: 180px;
    z-index: 1;
}

/* Reset */
button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
  }
  
  /* Custom */
  button {
    display: inline-block;
    position: relative;
    padding: 10px 28px;
    top: 0;
    font-size: 30px;
    font-family: "Open Sans", Helvetica;
    border-radius: 4px;
    border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
    background: rgb(50, 151, 143);
    color: #fff;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
    
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
    
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
            transition: all 0.2s ease;
  }

  #startButton{
    padding: 20px 38px;
  }
  
  #startButton:hover {
    top: -10px;
    box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
    
    -webkit-transform: rotateX(10deg);
       -moz-transform: rotateX(10deg);
        -ms-transform: rotateX(10deg);
            transform: rotateX(10deg);
  }
  
  button:active {
    top: 0px;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
    background: rgb(12, 167, 97);
  }